<h1>応援メッセージの詳細</h1>

<p>応援メッセージ：<%= @cheer_message.content %></p>

<% if @cheer_message.image? %>
  <%= image_tag @cheer_message.image.url %>
<% end %>

<br>

<%= link_to '編集', edit_cheer_message_path(@cheer_message) %> |
<%= link_to '一覧に戻る', cheer_messages_path %>
