.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.outer-box {
  display: inline-block; /* 文字の幅に合わせるためにインラインブロックに設定 */
  border: 2px solid #ccc; /* 外側の枠線 */
  border-radius: 5px;
}

.message-container {
  text-align: center; /* 中央揃え */
}

.message-box {
  border: 2px solid #ccc; /* 内側の枠線 */
  border-radius: 5px;
  padding: 10px;
  background-color: #e0f2f1; /* 水色の背景 */
}

.smaller {
  font-size: 20px; /* 小さなサイズに変更 */
}

.underline {
  text-decoration: underline; /* 下線を引く */
}

.button-container {
  text-align: center;
}

.button-container {
  display: inline-block;
}

.button-container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}
